<div class="container">
    <div class="jumbotron text-center">
        <div class="text-center">
            <h2>
                <b>
                    <span>Good Music for Dancing</span>
                    <br />
                    <small>Music categorized by Dance Style</small>
                </b>
            </h2>
        </div>
        <h5>Click <a href="#!/search">search</a> to find some good music for your preferred dance style</h5>
        <h5>Click <a href="#!/add">add</a> to recommend some good music</h5>
    </div>
</div>