<div class="text-center" ng-if="!$ctrl.loaded">
    <i class="fa fa-lg fa-fw fa-spin fa-spinner"></i>
    <span>Loading</span>
</div>
<div class="container-fluid" ng-if="$ctrl.loaded">
    <div class="text-center">
        <div class="btn-group btn-group-xs">
            <button type="button" ng-repeat="period in $ctrl.periods" ng-click="$ctrl.setPeriod(period)"
                    class="btn btn-default" ng-class="{'btn-primary': period == $ctrl.period}">
                <span class="text-capitalize">{{period}}</span>
            </button>
        </div>
    </div>
    <br />
    <div class="row">
        <div ng-repeat="video in $ctrl.videos | limitTo: $ctrl.pageSize : ($ctrl.page - 1) * $ctrl.pageSize" class="col-xs-12 col-sm-6 col-md-4 col-lg-3" ng-click="$ctrl.open(video, $event)">
            <div class="thumbnail">
                <div class="embed-responsive embed-responsive-16by9">
                    <img class="embed-responsive-item" ng-src="https://i.ytimg.com/vi/{{video.videoId}}/mqdefault.jpg" alt="{{video.title}}" />
                </div>
                <div class="caption ellipsis text-uppercase">
                    <b>
                        <span ng-class="{ 'text-danger': $index == $ctrl.index }">{{video.rank}}. {{video.title}}</span>
                        <br />
                        <i class="fa fa-fw" ng-class="{'fa-thumbs-up text-primary': video.like == 1, 'fa-thumbs-o-up': video.like != 1}"></i>
                        <span>{{video.likes}}</span>
                        <i class="fa fa-fw" ng-class="{'fa-thumbs-down text-primary': video.dislike == 1, 'fa-thumbs-o-down': video.dislike != 1}"></i>
                        <span>{{video.dislikes}}</span>
                        <span>&nbsp;</span>
                        <i class="fa fa-fw" ng-class="{'fa-heart text-danger': video.favourite == 1, 'fa-heart-o': video.favourite != 1}"></i>
                    </b>
                </div>
            </div>
        </div>
    </div>
    <div class="center-block" ng-if="$ctrl.count > $ctrl.pageSize">
        <div class="text-center">
            <ul uib-pagination class="pagination pagination-sm" ng-model="$ctrl.page"
                total-items="$ctrl.count" items-per-page="$ctrl.pageSize"
                rotate="true" force-ellipses="true"
                boundary-links="true" boundary-link-numbers="true"
                first-text="&laquo;" previous-text="&lt;" next-text="&gt;" last-text="&raquo;"
                max-size="3" ng-change="$ctrl.top()"></ul>
        </div>
    </div>
</div>